.app-auth-container {
  min-height: 100vh;
  background: linear-gradient(45deg, #00fc71 0%, #27c2de 100%);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
