.App {
  a {
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
  }
  .center {
    text-align: center;
  }
  .flex {
    display: flex;
  }
  .big-text {
    font-size: 1.3em;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-center {
    align-items: center;
  }
  .flex-center-valign {
    justify-content: center;
  }
  .error-row {
    min-height: 20px;
    font-size: 1em;
  }
  .error {
    color: red;
  }
  .text-center {
    text-align: center;
  }
}
